/* Minimal Card
--------------------------------------------- */

.is-style-minimal-card {
    border: var(--border-m);
    border-radius: var(--m-rem);
    background-color: var(--wp--preset--color--grey-200) !important;
    padding: var(--wp--preset--spacing--20) !important;
}

.is-style-minimal-card:hover {
    box-shadow: var(--light-shadow);
}

/* Dark Card
--------------------------------------------- */

.is-style-dark-card {
    border: var(--border-m-dark);
    border-radius: var(--m-rem);
    padding: var(--wp--preset--spacing--20) !important;
    background-color: var(--wp--preset--color--primary-600) !important;
    color: #fff !important;
}

.is-style-dark-card .wp-block-heading {
    color: #fff !important; 
}

