:root {
	/* Rem sizes */
	--xxl-rem: .5rem;
	--xl-rem: 2rem;
	--l-rem: 1rem;
	--m-rem: .5rem;
	--s-rem: .35rem;
	--xs-rem: .2rem;
	
	/* Pixel sizes */
	--l-px: 4px;
	--m-px: 2px; 
	--s-px: 1px;  
	
	/* Grids */
	--four-col-grid: 1fr 1fr 1fr 1fr;
	--three-col-grid: 1fr 1fr 1fr;
	--two-col-grid: 1fr 1fr;
	--one-col-grid: 1fr;
	 
	/* Border styles */  
	 --border-style: solid;   

	 /* Borders */
	--border-m: var(--m-px) var(--border-style) var(--wp--preset--color--grey-200);
	--border-m-dark: var(--m-px) var(--border-style) var(--wp--preset--color--primary-700);
	--border-m-black: var(--m-px) var(--border-style) var(--wp--preset--color--grey-700);
	
	
	/* Text Width */
	--text-width: 50ch;

	/*shadows */
	--shadow: 0px 10px 15px 0px rgba(0,0,0,0.15);
	--light-shadow: 0 0 10px var(--wp--preset--color--primary-200);
	
	/* Z-Index */
	--z--0: 0;
	--z--10: 10;
	--z--20: 20;
	--z--30: 30;
	--z--40: 40;
	--z--50: 50;
	--z--60: 60;
	--z--70: 70;
	--z--80: 80;
	--z--90: 90;
	--z--bottom: -1;
}
.drop-shadow {
box-shadow: var(--shadow);
}
.drop-shadow-2 {
	box-shadow: var(--light-shadow);
}


@media (max-width: 768px) {
    .hide-mobile {
        display:none;
    }
}

.wp-block-button__link {
 display: inline;
}


/* Section
--------------------------------------------- */

section {
	padding-top: var(--wp--preset--spacing--40);
	padding-bottom: var(--wp--preset--spacing--40);
}

.hero-section {
	padding-top: var(--wp--preset--spacing--40);
	padding-bottom: var(--wp--preset--spacing--40);
	background-image: var(--wp--preset--gradient--gradient-9)
}
.no-pad-section {
	padding-top: var(--wp--preset--spacing--00);
	padding-bottom: var(--wp--preset--spacing--00);
}

/* Grids
--------------------------------------------- */
.hero-grid {
	grid-template-columns: var(--two-col-grid);
	gap: var(--wp--preset--spacing--20);
}

@media screen and (max-width: 768px) {
	.hero-grid {
		grid-template-columns: var(--one-col-grid);
	}
}

.hero-grid__text {
	max-width: var(--text-width);
}

.grid--2  {
	grid-template-columns: var(--two-col-grid);
	gap: var(--wp--preset--spacing--30);
}

@media screen and (max-width: 768px) {
	.grid--2  {
		grid-template-columns: var(--one-col-grid);
	}
}


.reverse-order {
	order: -1;
}

@media screen and (max-width: 768px) {
.reverse-order {
	order: +1;
}
}

.grid--3  {
	grid-template-columns: var(--three-col-grid);
	gap: var(--wp--preset--spacing--20);
}

@media screen and (max-width: 768px) {
	.grid--3 {
		grid-template-columns: var(--one-col-grid);
	}
}

/* Floating Header
--------------------------------------------- */

.floating-header {
	z-index: var(--z--90);
	border-bottom: var(--border);
}

/* Padding
--------------------------------------------- */

.pad--xxl {
	padding: var(--wp--preset--spacing--70);
}
.pad--xl {
	padding: var(--wp--preset--spacing--60);
}
.pad--l {
	padding: var(--wp--preset--spacing--40);
}
.pad--m {
	padding: var(--wp--preset--spacing--30);
}
.pad--s {
	padding: var(--wp--preset--spacing--20);
}

.pad--xs {
	padding: var(--wp--preset--spacing--10);
}

.pad--none {
	padding: var(--wp--preset--spacing--00);
}

/* Margin
--------------------------------------------- */

.margin-top--xxl {
	padding: var(--wp--preset--spacing--70);
}
.margin-top--xl {
	padding: var(--wp--preset--spacing--60);
}
.margin-top--l {
	padding: var(--wp--preset--spacing--40);
}
.margin-top--m {
	padding: var(--wp--preset--spacing--30);
}
.margin-top--s {
	padding: var(--wp--preset--spacing--20);
}

.margin-top--xs {
	padding: var(--wp--preset--spacing--10);
}

.margin-top--none {
	padding: var(--wp--preset--spacing--00);
}

.margin-bottom--xxl {
	padding: var(--wp--preset--spacing--70);
}
.margin-bottom--xl {
	padding: var(--wp--preset--spacing--60);
}
.margin-bottom--l {
	padding: var(--wp--preset--spacing--40);
}
.margin-bottom--m {
	padding: var(--wp--preset--spacing--30);
}
.margin-bottom--s {
	padding: var(--wp--preset--spacing--20);
}

.margin-bottom--xs {
	padding: var(--wp--preset--spacing--10);
}

.margin-bottom--none {
	padding: var(--wp--preset--spacing--00);
}

/* Rounded Corners
--------------------------------------------- */

.rounded--xxl {
	border-radius: var(--xxl-rem)
}
.rounded--xl {
	border-radius: var(--xl-rem)
}
.rounded--l {
	border-radius: var(--l-rem)
}
.rounded--m {
	border-radius: var(--m-rem)
}
.rounded--s {
	border-radius: var(--s-rem)
}
.rounded--xs {
	border-radius: var(--xxs-rem)
}

/* Borders
--------------------------------------------- */
 .border--m { 
	border: var(--m-px) var(--border-style) var(--wp--preset--color--grey-200);
 }
.border--m-dark {
	border: var(--m-px) var(--border-style) var(--wp--preset--color--primary-700);
}