:root {
	/* Grids */
	--grid-4: 1fr 1fr 1fr 1fr;
	--grid-3: 1fr 1fr 1fr;
	--grid-2: 1fr 1fr;
	--grid-1: 1fr;

	--grid-gap: var(--wp--preset--spacing--40);
	--content-gap: var(--wp--preset--spacing--20);
	--container-gap: var(--wp--preset--spacing--40);
	
	/* Radius */
	--radius-xxl: 5rem;
	--radius-xl: 2rem;
	--radius-l: 1rem;
	--radius-m: .5rem;
	--radius-s: .35rem;
	--radius-xs: .2rem;
	
	/* Border widths */
	--border-width-l: 4px;
	--border--width-m: 2px; 
	--border--width-s: 1px;  
	 
	/* Border styles */  
	 --border-style: solid;   

	 /* Borders */
	--border-m: var(--border-width-m) var(--border-style) var(--wp--preset--color--grey-200);
	--border-m-dark: var(--border-width-m) var(--border-style) var(--wp--preset--color--primary-700);
	--border-m-black: var(--border-width-m) var(--border-style) var(--wp--preset--color--grey-700);
	
	
	/* Text Width */
	--text-width: 55ch;

	/*shadows */
	--shadow: 0px 10px 15px 0px rgba(0,0,0,0.15);
	--light-shadow: 0 0 10px var(--wp--preset--color--primary-100);
	
	/* Z-Index */
	--z--0: 0;
	--z--10: 10;
	--z--20: 20;
	--z--30: 30;
	--z--40: 40;
	--z--50: 50;
	--z--60: 60;
	--z--70: 70;
	--z--80: 80;
	--z--90: 90;
	--z--bottom: -1;
}

/* Misc
--------------------------------------------- */
.drop-shadow {
box-shadow: var(--shadow);
}
.drop-shadow-2 {
	box-shadow: var(--light-shadow);
}

.bottom {
	z-index: var(--z--bottom);
}


@media (max-width: 768px) {
    .hide-mobile {
        display:none;
    }
}



.text-width {
	max-width: var(--text-width);
}


/* Section
--------------------------------------------- */

section {
	padding-top: var(--wp--preset--spacing--40);
	padding-bottom: var(--wp--preset--spacing--40);
}

.hero-section {
	padding-top: var(--wp--preset--spacing--40);
	padding-bottom: var(--wp--preset--spacing--40);
	background-image: var(--wp--preset--gradient--gradient-9)
}
.no-pad-section {
	padding-top: var(--wp--preset--spacing--00);
	padding-bottom: var(--wp--preset--spacing--00);
}

/* Hero Grid
--------------------------------------------- */
.hero-grid {
	grid-template-columns: var(--grid-2);
	gap: var(--wp--preset--spacing--20);
}

@media screen and (max-width: 768px) {
	.hero-grid {
		grid-template-columns: var(--grid-1);
	}
}

.hero-grid__text {
	max-width: var(--text-width);
}

/* Talking point cards grid
--------------------------------------------- */
.talking-points-wrapper {
	row-gap: var(--container-gap); 

}

.talking-points-wrapper > *:nth-child(even) > *:last-of-type {
	order: -1;
}

@media screen and (max-width: 768px) {
	.talking-points-wrapper > *:nth-child(even) > *:last-of-type {
		order: 0;
	}
}

.talking-points-card  {
	grid-template-columns: var(--grid-2);
	gap: var(--grid-gap);
}

@media screen and (max-width: 768px) {
	.talking-points-card   {
		grid-template-columns: var(--grid-1);
	}
}

.talking-point-card__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
	
}

.talking-point-card__media-wrapper {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reverse-order {
	order: -1;
}

@media screen and (max-width: 768px) {
.reverse-order {
	order: +1;
}
}

/* Grid Utility
--------------------------------------------- */

.grid--3  {
	grid-template-columns: var(--grid-3);
	gap: var(--wp--preset--spacing--20);
}

@media screen and (max-width: 768px) {
	.grid--3 {
		grid-template-columns: var(--grid-1);
	}
}

/* Testimonials Grid
--------------------------------------------- */

.testimonials-grid {
	grid-template-columns: var(--grid-3);
	gap: var(--wp--preset--spacing--20);
}

@media screen and (max-width: 768px) {
	.testimonials-grid {
		grid-template-columns: var(--grid-1);
	}
}

.testimonial-grid__card {
    border: var(--border-m);
    border-radius: var(--radius-l);
    background-color: var(--wp--preset--color--grey-100) !important;
    padding: var(--wp--preset--spacing--20) !important;
}

.testimonial-grid__card:hover {
    box-shadow: var(--light-shadow);
}


/* Floating Header
--------------------------------------------- */

.floating-header {
	z-index: var(--z--90);
	border-bottom: var(--border-m);
}

/* Padding
--------------------------------------------- */

.pad--xxl {
	padding: var(--wp--preset--spacing--70);
}
.pad--xl {
	padding: var(--wp--preset--spacing--60);
}
.pad--l {
	padding: var(--wp--preset--spacing--40);
}
.pad--m {
	padding: var(--wp--preset--spacing--30);
}
.pad--s {
	padding: var(--wp--preset--spacing--20);
}

.pad--xs {
	padding: var(--wp--preset--spacing--10);
}

.pad--none {
	padding: var(--wp--preset--spacing--00);
}

/* Margin
--------------------------------------------- */

.margin-top--xxl {
	padding: var(--wp--preset--spacing--70);
}
.margin-top--xl {
	padding: var(--wp--preset--spacing--60);
}
.margin-top--l {
	padding: var(--wp--preset--spacing--40);
}
.margin-top--m {
	padding: var(--wp--preset--spacing--30);
}
.margin-top--s {
	padding: var(--wp--preset--spacing--20);
}

.margin-top--xs {
	padding: var(--wp--preset--spacing--10);
}

.margin-top--none {
	padding: var(--wp--preset--spacing--00);
}

.margin-bottom--xxl {
	padding: var(--wp--preset--spacing--70);
}
.margin-bottom--xl {
	padding: var(--wp--preset--spacing--60);
}
.margin-bottom--l {
	padding: var(--wp--preset--spacing--40);
}
.margin-bottom--m {
	padding: var(--wp--preset--spacing--30);
}
.margin-bottom--s {
	padding: var(--wp--preset--spacing--20);
}

.margin-bottom--xs {
	padding: var(--wp--preset--spacing--10);
}

.margin-bottom--none {
	padding: var(--wp--preset--spacing--00);
}

/* Rounded Corners
--------------------------------------------- */

.rounded--xxl {
	border-radius: var(--xxl-rem);
}
.rounded--xl {
	border-radius: var(--xl-rem);
}
.rounded--l {
	border-radius: var(--l-rem);
}
.rounded--m {
	border-radius: var(--m-rem);
}
.rounded--s {
	border-radius: var(--s-rem);
}
.rounded--xs {
	border-radius: var(--xxs-rem);
}

/* Borders
--------------------------------------------- */
 .border--m { 
	border: var(--border-width-m) var(--border-style) var(--wp--preset--color--grey-200);
 }
.border--m-dark {
	border: var(--border-width-m) var(--border-style) var(--wp--preset--color--primary-700);
}