<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"},"spacing":{"margin":{"top":"10px"},"padding":{"top":"10px"}}},"className":"masthead","layout":{"type":"constrained"}} -->
<div class="wp-block-group masthead" style="margin-top:10px;padding-top:10px"><!-- wp:group {"align":"wide","style":{"position":{"type":""}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:template-part {"slug":"header","area":"header","align":"wide"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":70,"overlayColor":"primary","isUserOverlayColor":true,"minHeight":550,"contentPosition":"center center","isDark":false,"style":{"spacing":{"padding":{"right":"15px","bottom":"50px","left":"15px","top":"100px"}}},"className":"minusmargin","layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-cover is-light minusmargin" style="padding-top:100px;padding-right:15px;padding-bottom:50px;padding-left:15px;min-height:550px"><span aria-hidden="true" class="wp-block-cover__background has-primary-background-color has-background-dim-70 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"25px","right":"25px","bottom":"25px","left":"25px"}}},"layout":{"type":"constrained","justifyContent":"left","contentSize":"1000px"}} -->
<div class="wp-block-group alignwide" style="padding-top:25px;padding-right:25px;padding-bottom:25px;padding-left:25px"><!-- wp:post-title {"level":1} /-->

<!-- wp:group {"layout":{"type":"constrained","justifyContent":"left","contentSize":"800px"}} -->
<div class="wp-block-group"><!-- wp:mfb/meta-field-block {"fieldName":"page_intro","fieldSettings":[],"hideEmpty":true,"fontSize":"large"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0","bottom":"var:preset|spacing|60"},"blockGap":"var:preset|spacing|50"}},"className":"site-content is-style-default"} -->
<main class="wp-block-group site-content is-style-default" style="margin-top:0;padding-top:0;padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"default-footer","tagName":"footer"} /-->