<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"className":"masthead","layout":{"type":"constrained"}} -->
<div class="wp-block-group masthead"><!-- wp:group {"align":"wide","style":{"position":{"type":""}},"layout":{"type":"constrained","contentSize":"120px","justifyContent":"left"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"style":{"position":{"type":""}},"backgroundColor":"bgrey","className":"drop-shadow","layout":{"type":"constrained","contentSize":"120px","justifyContent":"center"}} -->
<div class="wp-block-group drop-shadow has-bgrey-background-color has-background"><!-- wp:site-logo {"className":"drop-shodow masthead"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"className":"minushundered ","layout":{"type":"constrained"}} -->
<div class="wp-block-group minushundered"><!-- wp:template-part {"slug":"header-2","area":"header","align":"full","className":"minushundered "} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0","bottom":"var:preset|spacing|60"},"blockGap":"var:preset|spacing|50"}},"className":"site-content is-style-default"} -->
<main class="wp-block-group site-content is-style-default" style="margin-top:0;padding-top:0;padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->